<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-facturas-heading" data-cy="FacturasCreateUpdateHeading">Crear o editar Facturas</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let numeroFacturaRef = editForm.get('numeroFactura')!;
        <div class="mb-3">
          <label class="form-label" for="field_numeroFactura">Numero Factura</label>
          <input
            type="number"
            class="form-control"
            name="numeroFactura"
            id="field_numeroFactura"
            data-cy="numeroFactura"
            formControlName="numeroFactura"
          />
          @if (numeroFacturaRef.invalid && (numeroFacturaRef.dirty || numeroFacturaRef.touched)) {
            <div>
              @if (editForm.get('numeroFactura')?.errors?.required) {
                <small class="form-text text-danger">Este campo es obligatorio.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('numeroFactura')?.errors?.number"
                >Este campo debe ser un número.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_fechaFactura">Fecha Factura</label>
          <div class="d-flex">
            <input
              id="field_fechaFactura"
              data-cy="fechaFactura"
              type="datetime-local"
              class="form-control"
              name="fechaFactura"
              formControlName="fechaFactura"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_condicionPago">Condicion Pago</label>
          <input
            type="checkbox"
            class="form-check"
            name="condicionPago"
            id="field_condicionPago"
            data-cy="condicionPago"
            formControlName="condicionPago"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_clientes">Clientes</label>
          <select
            class="form-control"
            id="field_clientes"
            data-cy="clientes"
            name="clientes"
            formControlName="clientes"
            [compareWith]="compareClientes"
          >
            <option [ngValue]="null"></option>
            @for (clientesOption of clientesCollection; track $index) {
              <option [ngValue]="clientesOption">{{ clientesOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lotes">Lotes</label>
          <select class="form-control" id="field_lotes" data-cy="lotes" name="lotes" formControlName="lotes" [compareWith]="compareLotes">
            <option [ngValue]="null"></option>
            @for (lotesOption of lotesSharedCollection; track $index) {
              <option [ngValue]="lotesOption">{{ lotesOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_detalles">Detalles</label>
          <select
            class="form-control"
            id="field_detalles"
            data-cy="detalles"
            name="detalles"
            formControlName="detalles"
            [compareWith]="compareDetalles"
          >
            <option [ngValue]="null"></option>
            @for (detallesOption of detallesSharedCollection; track $index) {
              <option [ngValue]="detallesOption">{{ detallesOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Guardar</span>
        </button>
      </div>
    </form>
  </div>
</div>
